* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:cornflowerblue;
}

main {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#resizeBtn {
    height: min-content;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.grid {
    --grid-children: 1;
    display: flex;
    flex-wrap: wrap;
    width: 90vh;
    height: 90vh;
    max-width: 80vw;
    max-height: 80vw;
    background-color: white !important;
    opacity: 1 !important;
}

.grid > div {
    width: calc(100% / var(--grid-children));
    opacity: 0;
}




